.table {
    font-size: 14px;
    margin-top: 30px;
    border-collapse: unset;
    border: 3px solid white;
    border-radius: 5px;
}

thead {
    background-color: rgb(59, 182, 207);
    color: white;
}

thead th {
    width: 20%;
}

th,
td {
    padding: 20px;
}

tbody tr {
    background-color: white;
}

tbody tr:nth-child(2n) {
    background-color: rgb(226, 221, 221);
}