.item {
    display: flex;
    margin-top: 10px;
    width: 400px;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
}

.status__onLine {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    margin-right: 20px;
    margin-left: 20px;
    align-self: center;

}

.status__offLine {
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    margin-right: 20px;
    margin-left: 20px;
    align-self: center;
}

.avatar {
    flex-basis: calc(100%/5);
    margin-right: 20px;
}
p {
    align-self: center;
}