.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #010101;
    flex-direction: column;
    background-color: #a8adaa;
    padding-top: 30px;
    padding-bottom: 30px;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Roboto', sans-serif;
}